<div class="text-center">
    <div class="row">
    <% @parties.each do |party| %>
      <div class="col-xs-6">
        <div class="card">
          <div class="party-name <%=party[:name]%>">
          <p> <%= party[:name].capitalize %> Party </p>
          </div>
          <div class="party-info">

            <% if  party[:leader].class == Politician %>
              <%=link_to politician_path(party[:leader], year: @year), class: 'card-link' do %>
              <i class="fas fa-user-tie"></i> <%= party[:leader].name %>
              <%end%>
            <%else%>
            <%=link_to subordinate_path(party[:leader], year: @year), class: 'card-link' do %>
              <i class="fas fa-user-tie"></i> <%= party[:leader].name %>
              <%end%>
            <%end%>

            <p>
            <%= link_to "#politicians-#{party[:name]}", 'data-toggle' => 'modal', class: 'card-link' do %>
              Politicians: <%= party[:politicians].count %>
            <%end%>
            </p>
            <p>
            <%= link_to "#subordinates-#{party[:name]}", 'data-toggle' => 'modal', class: 'card-link' do %>
              Subordinates: <%= party[:subordinates].count %>
            <%end%>
           </p>
          </div>
          <div class="party-warning">
            <%if party[:politicians].count + party[:subordinates].count + 1 >= 20 %>
            <p class="warning-red"> Warning: More than 20 people! </p>
          <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
