<div class="container">
  <div class="form">
    <%= form_tag root_path, method: :get, remote: true do %>
      <div class="year-search text-center" >
        <label for="year" id="textYear">Overview year: <%= @year %></label>
        <div class="slider">
        <input id="year" name="year" type="range" min="1970" max="2018" value=<%= @year %> onchange="updateYearInput(this.value);" >
        </div>
      </div>

      <div class="filter-button-element" style="margin-bottom: 10px">
        <input type="submit" value="Apply filters" class="btn-filter-pnk" id="apply-button">
      </div>
    <% end %>
  </div>

  <div id="party-info">
    <%= render 'party_info' %>
    <% @parties.each do |party| %>
      <%= render "modal_politicians", party: party %>
      <%= render "modal_subordinates", party: party %>
    <%end%>
  </div>
</div>






<% content_for :external_script do  %>
  <script>
    function updateYearInput(val) {
          document.getElementById('textYear').innerHTML='Overview year: '+val;
          document.getElementById("apply-button").click();
        }
  </script>
<% end %>

