<div class="container text-center">

<div class="card show-detail">
  <div class="party-name <%=Party.find(@politician.party_id).name%>">
    <p> <%= @politician.name %> </p>
  </div>
  <div class="party-info">
    <p> <%= Party.find(@politician.party_id).name.capitalize %> Party </p>
    <p> Position: <%= position_helper(@politician, @leader) %> </p>
    <p> Birthyear: <%= @politician.birthyear %> </p>
  </div>

</div>

<% if @years_leader != nil && @year_prison != nil %>

<div class="chart ">
<%= timeline(chart_helper(@years_leader.first, @years_leader.last, @year_prison, @year_free), width: "50vw", height: "150px")%>
</div>
<%end%>
<%= link_to 'Go to Overview', root_path(year: @year), class: "card-link button" %>
</div>

<% content_for :external_script do  %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<% end %>


